/*
    All CSS for a KGOUIObject should be wrapped in a class to namespace the CSS to inside this class
    Kurogo 2 uses sassyCSS styles, this is a little different that normal CSS, but is much cleaner and more powerful. http://sass-lang.com/documentation/file.SASS_REFERENCE.html

    The styles for the kgoui_detail_stack_exchange class are mainly to replicate the CSS you would see on StackExchange itself.
*/

.kgoui_detail_modo_stack_exchange {

    $quote_bg_color = #dadada;          /*Defining a variable to used later*/

    pre,
    blockquote,
    code {
        background-color: $quote_bg_color;              /* Setting $quote_bg_color to the background-color */
        margin: kgo_theme("standard_padding") * 0.5;    /* Calling a mixin (scss method) to grab a Kurogo theme variable */
        vertical-align: baseline;
        overflow: auto;
        font-size: 0.85rem;
        max-height: 600px;
    }

    .kgoui_detail_author {
        text-align: right;
    }
}