$quote_bg_color = #dadada;

.kgoui_detail_stack_exchange {
    pre,
    blockquote {
        background-color: $quote_bg_color;
        padding: kgo_theme("standard_padding");
        overflow-x: scroll;
    }

    code {
        background-color: $quote_bg_color;
        padding: kgo_theme("standard_padding") * 0.25;
    }

    .kgoui_detail_author {
        text-align: right;
    }
}